/* You can add global styles to this file, and also import other style files */
html {
  height: 100%;
}

body {
  min-height: 100%;
}

.hidden{
  display:none;
  visibility:hidden;
}

.page-title {
  color: black;
  font-family: 'Lobster';
  font-weight: bold;
}

div.dataTables_wrapper div.dataTables_filter label {
  text-align: left;
  display: flex;
  align-items: center !important;
  font-weight: bold !important;
}

div.dataTables_wrapper div.dataTables_filter label input {
  width: 20%;
}
